<div class="calendar-drops">
    <!--<button *ngIf="!_isCompatibilityMode" [disableRipple]="true" mat-button class="mat-calendar-period-button"-->
    <!--(click)="_currentPeriodClicked()" [attr.aria-label]="_periodButtonLabel">-->
    <!--ماه-->
    <!--<div class="mat-calendar-arrow" [class.mat-calendar-invert]="!_monthView"></div>-->
    <!--</button>-->
    <!--<button *ngIf="_isCompatibilityMode" mat-button class="mat-calendar-period-button"-->
    <!--(click)="_currentPeriodClicked()" [attr.aria-label]="_periodButtonLabel">-->
    <!--ماه-->
    <!--<div class="mat-calendar-arrow" [class.mat-calendar-invert]="!_monthView"></div>-->
    <!--</button>-->

    <mat-select #yearsDrop placeholder="سال" style="width: 50px;"
                (selectionChange)="yearsDrop.value = null;_yearSelected($event)"
                panelClass="drops-panels years {{(_dateAdapterr?.lang == 'en') ? 'latin' :''}}">
        <mat-option *ngFor="let food of foods" [value]="food">
            {{ _showDropYear(food) }}
        </mat-option>
    </mat-select>
    <mat-select #monthsDrop placeholder="ماه" style="width: 70px;"
                (selectionChange)="monthsDrop.value = null;_monthSelectedd($event)"
                panelClass="drops-panels months {{(_dateAdapterr?.lang == 'en') ? 'latin' :''}}">
        <mat-option *ngFor="let month of months" [value]="month">
            {{ _showDropMonth(month) }}
        </mat-option>
    </mat-select>

</div>
<div class="mat-calendar-header">
    <div class="mat-calendar-controls" [class.month]="_monthView">
        <!--
          TODO(mmalerba): Clean up duplicated compatibility mode code when we have a better way to do
          this.
        -->

        <!--additions by puria-->
        <ng-content></ng-content>


        <!-- Check for compatibility mode and use correct prefix for md-icon-button. -->
        <button *ngIf="!_isCompatibilityMode" mat-icon-button class="mat-calendar-previous-button"
                [disabled]="!_previousEnabled()" (click)="_previousClicked()"
                [attr.aria-label]="_prevButtonLabel">
        </button>
        <button *ngIf="_isCompatibilityMode" mat-icon-button class="mat-calendar-previous-button"
                [disabled]="!_previousEnabled()" (click)="_previousClicked()"
                [attr.aria-label]="_prevButtonLabel">
        </button>

        <!-- Check for compatibility mode and use correct prefix for md-button. -->


        <div class="mat-calendar-spacer"></div>


        <!-- Check for compatibility mode and use correct prefix for md-icon-button. -->
        <button *ngIf="!_isCompatibilityMode" mat-icon-button class="mat-calendar-next-button"
                [disabled]="!_nextEnabled()" (click)="_nextClicked()"
                [attr.aria-label]="_nextButtonLabel">
        </button>
        <button *ngIf="_isCompatibilityMode" mat-icon-button class="mat-calendar-next-button"
                [disabled]="!_nextEnabled()" (click)="_nextClicked()"
                [attr.aria-label]="_nextButtonLabel">
        </button>
    </div>
</div>

<div class="mat-calendar-content" (keydown)="_handleCalendarBodyKeydown($event)"
     [ngSwitch]="_monthView" cdkMonitorSubtreeFocus>
    <md-month-view
        *ngSwitchCase="true"
        [activeDate]="_activeDate"
        [subedDate]="subed"
        [selected]="selected"
        [dateFilter]="_dateFilterForViews"
        (selectedChange)="_dateSelected($event)"
        (userSelection)="_userSelected()">
    </md-month-view>
    <md-month-view
        *ngIf="type == 'wide' && _monthView"
        [activeDate]="_activeNextDate"
        [subedDate]="subed"
        [selected]="selected"
        [dateFilter]="_dateFilterForViews"
        (selectedChange)="_dateSelected($event)"
        (userSelection)="_userSelected()">
    </md-month-view>
    <md-year-view
        *ngSwitchDefault
        [activeDate]="_activeDate"
        [selected]="selected"
        [dateFilter]="_dateFilterForViews"
        (selectedChange)="_monthSelected($event)">
    </md-year-view>
</div>
