/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

$primary: mat-palette($mat-pink, A700, 100, 400);
$accent: mat-palette($mat-pink, 300, A100, A400);
$warn: mat-palette($mat-red, A700);
$theme: mat-light-theme($primary, $accent, $warn);
//@include angular-material-theme($theme);
//
$custom-typography: mat-typography-config(
  $font-family: 'vazir',
  $headline: mat-typography-level(22px, 44px, 700),
  $body-1: mat-typography-level(13px, 20px, 500)
);
@include mat-core($custom-typography);

@include angular-material-theme($theme);



@font-face {
  font-family: "vazir-code";
  src: url('/assets/fonts/vazir-code/Vazir-Code.woff') format("woff"),
  url('/assets/fonts/vazir-code/Vazir-Code.eot') format("eot"),
  url('/assets/fonts/vazir-code/Vazir-Code.ttf') format("ttf");
}

@font-face {
  font-family: "yekan2";
  src: url('/assets/fonts/yekan/Yekan.eot?#iefix') format("embedded-opentype"), url("/assets/fonts/yekan/Yekan.woff") format("woff"), url('/assets/fonts/yekan/Yekan.ttf') format("truetype"), url("/assets/fonts/yekan/Yekan.svg#BYekan") format("svg");
}

@font-face {
  font-family: "vazir-light";
  src: url('/assets/fonts/vazir/Vazir-Light-FD.eot?#iefix') format("embedded-opentype"), url("/assets/fonts/vazir/Vazir-Light-FD.woff") format("woff"), url('/assets/fonts/vazir/Vazir-Light-FD.ttf') format("truetype"), url("/assets/fonts/vazir/Vazir-Light-FD.svg") format("svg");
}

@font-face {
  font-family: "vazir-medium";
  src: url('/assets/fonts/vazir/Vazir-Medium-FD.eot?#iefix') format("embedded-opentype"), url("/assets/fonts/vazir/Vazir-Medium-FD.woff") format("woff"), url('/assets/fonts/vazir/Vazir-Medium-FD.ttf') format("truetype"), url("/assets/fonts/vazir/Vazir-Medium-FD.svg") format("svg");
}

@font-face {
  font-family: "vazir";
  font-weight: normal;
  src: url('/assets/fonts/vazir/Vazir-FD.eot?#iefix') format("embedded-opentype"), url("/assets/fonts/vazir/Vazir-FD.woff") format("woff"), url('/assets/fonts/vazir/Vazir-FD.ttf') format("truetype"), url("/assets/fonts/vazir/Vazir-FD.svg") format("svg");
}

@font-face {
  font-family: "vazir";
  font-weight: bold;
  src: url('/assets/fonts/vazir/Vazir-Bold-FD.eot?#iefix') format("embedded-opentype"), url("/assets/fonts/vazir/Vazir-Bold-FD.woff") format("woff"), url('/assets/fonts/vazir/Vazir-Bold-FD.ttf') format("truetype"), url("/assets/fonts/vazir/Vazir-Bold-FD.svg") format("svg");
}

@font-face {
  font-family: "fadigit";
  src: url('/assets/fonts/fa-digits/Vazir-Code.woff') format("woff");
}

@font-face {
  font-family: "barcode";
  src: url('/assets/fonts/barcode/Code39.ttf') format("truetype");
}
html {
  direction: rtl;
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  * {
    font-family: 'vazir', sans-serif;
  }
  .mat-form-field-flex {
    &:hover {
      cursor: pointer;
    }
    input {
      &:hover {
        cursor: pointer;
      }
    }
    .mat-form-field-infix {
      padding: 10px;
    }
  }
  .centered {
    margin: 30px auto 0;
    display: block;
    width: 200px;
  }

}

span.love {
  direction: ltr;
  color: #666;
  margin-top: 100px;
  font-size: 12px;
  display: block;
  text-align: center;
}
span.love a {
  color: #000000;
  text-decoration: none;
}
span.love .fa {
  color: #E90606;
  margin: 0 3px;
  font-size: 10px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

@keyframes pound {
  to {
    transform: scale(2);
  }
}
